<head>
    <title> CrowdFUNding | 크라우드 펀딩 </title>
</head>
{% extends 'crowdfunding/base.html' %}
{% load staticfiles %}



    {% block content %}


        <div class="page-head">
            <div class="container">
                <div class="row">
                    <div class="page-head-content">
                        <h1 class="page-title">프로젝트 등록 </h1>
                    </div>
                </div>
            </div>
        </div>
        <!-- End page header -->

        <!-- post-area -->
        <div class="register-area" style="background-color: rgb(249, 249, 249);">
            <div class="container">
                <div style="display: inline-block, margin: 0px 250px 0px 250px">
                    <div class="box-for overflow">
                        <div class="col-md-12 col-xs-12 login-blocks" style="padding: 0px 170px 0px 170px">
                            <h2>새 프로젝트 : </h2>

                                <form action="" method="post" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    {{ form.non_field_errors }}
                                    <div class="fieldWrapper">
                                        {{ form.pType.errors }}
                                        <label for="pType">종류:</label>
                                        {{ form.pType }}
                                    </div>
                                    <div class="fieldWrapper">
                                        <label for="pImage">이미지:</label>
                                        {{ form.pImage }}
                                    </div>
                                    <div class="fieldWrapper">
                                        {{ form.pTitle.errors }}
                                        <label for="pTitle">제목:</label>
                                        {{ form.pTitle }}
                                    </div>
                                    <div class="fieldWrapper">
                                        {{ form.pIntro.errors }}
                                        <label for="pIntro">소개글:</label>
                                        {{ form.pIntro }}
                                    </div>
                                    <div class="fieldWrapper">
                                        {{ form.pContext.errors }}
                                        <label for="pContext">본문:</label>
                                        {{ form.pContext }}
                                    </div>
                                    <div class="fieldWrapper">
                                        {{ form.goalcoin.errors }}
                                        <label for="goalcoin">목표 코인:</label>
                                        {{ form.goalcoin }}
                                    </div>
                                    <div class="text-center">
                                        <button type="submit" class="btn btn-default"> 등록 </button>
                                    </div>
                                </form>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    <script>
            $(document).ready(function () {

                $('#image-gallery').lightSlider({
                    gallery: true,
                    item: 1,
                    thumbItem: 9,
                    slideMargin: 0,
                    speed: 500,
                    auto: true,
                    loop: true,
                    onSliderLoad: function () {
                        $('#image-gallery').removeClass('cS-hidden');
                    }
                });
            });
        </script>

     {% endblock %}