{% load staticfiles %}
							<div class="box-two proerty-item">
                                <div class="item-thumb">
                                    <a href="/detail/{{ project.pid }}/" ><img src='{{ project.pImage.url }}'></a>
                                </div>
                                <div class="item-entry overflow">
                                    <h5><a href="/detail/{{ project.pid }}/" >
                                        {% for i, t in types %}
                                            {%if i == project.pType %}
                                                [{{ t }}]
                                            {% endif %}
                                        {% endfor %}
                                        {{ project.pTitle }} </a></h5>
                                    <div class="dot-hr"></div>
                                    <span class="pull-left">{{ project.pIntro }} </span><br>
                                    <span class="pull-left"><small>등록자: {{ project.owned_user.user_name }}</small></span><br>
                                    <br>
                                    <b>
                                    <span class="proerty-price pull-right"><b> {{ project.nowcoin }}</b> /  {{ project.goalcoin }}</span></b>
                                </div>
                            </div>