{% extends 'crowdfunding/base.html' %}
{% load staticfiles %}

<head>
    <title> CrowdFUNding | 크라우드 펀딩 </title>
</head>

    {% block content %}


        <div class="page-head">
            <div class="container">
                <div class="row">
                    <div class="page-head-content">
                        <h1 class="page-title">다양한 프로젝트 조회</h1>
                    </div>
                </div>
            </div>
        </div>
        <!-- End page header -->

        <!-- property area -->
        <div class="properties-area recent-property" style="background-color: #FFF;">
            <div class="container">
                <div class="row  pr0 padding-top-40 properties-page">
                    <div class="col-md-12 padding-bottom-40 large-search">
                        <div class="search-form wow pulse">
                            <form action="" class="form-inline" method="get" style=" text-align:center; padding-left: 10%; padding-right: 10%; white-space:nowrap;">
                                <input type="text" class="form-control" style="width:500px" placeholder="제목" name="q" value="{{ q }}">
                                <input type="submit" value="검색">
                            </form>
                        </div>
                    </div>

                    <!-- 정렬-->
<!--                    <div class="col-md-12  clear">-->
<!--                        <div class="col-xs-10 page-subheader sorting pl0">-->
<!--                            <ul class="sort-by-list">-->
<!--                                <li class="active">-->
<!--                                    <a href="javascript:void(0);" class="order_by_date" data-orderby="property_date" data-order="ASC">-->
<!--                                        날짜 순 <i class="fa fa-sort-amount-asc"></i>-->
<!--                                    </a>-->
<!--                                </li>-->
<!--                                <li class="">-->
<!--                                    <a href="javascript:void(0);" class="order_by_price" data-orderby="property_price" data-order="DESC">-->
<!--                                        액수 순 <i class="fa fa-sort-numeric-desc"></i>-->
<!--                                    </a>-->
<!--                                </li>-->
<!--                            </ul>-->
<!--                        </div>-->
<!--                    </div>-->


                    <!-- 전체 프로젝트 조회-->
                    <div class="col-md-12 clear ">
                        <div id="list-type" class="proerty-th">
                        {% for project in projects %}
                        <div class="col-sm-6 col-md-3 p0">
                            <div class="box-two proerty-item">
                                <div class="item-thumb">
                                    <a href="introProject/{{ project.pid }}" ><img src='{% static "crowdfunding/assets/img/demo/property-1.jpg" %}'></a>
                                </div>
                                <div class="item-entry overflow">
                                    <h5><a href="introProject/{{ project.pid }}" >{{ project.pTitle }} </a></h5>
                                    <div class="dot-hr"></div>
                                    {% for i, t in types %}
                                        {%if i == project.pType %}
                                            <span class="pull-left">종류 : {{ t }} </span><br>
                                        {% endif %}
                                    {% endfor %}
                                    <span class="pull-left">소개글 : {{ project.pIntro }} </span><br>
                                    <span class="pull-left">소유주 : {{ project.owned_user }} </span><br>
                                    <span class="proerty-price pull-right">$ 300,000</span>
                                </div>
                            </div>
                        </div>
                        {% endfor %}

                        </div>
                    </div>

                    <!-- 페이지 넘김 1,2,3...-->
<!--                    <div class="col-md-12 clear">-->
<!--                        <div class="pull-right">-->
<!--                            <div class="pagination">-->
<!--                                <ul>-->
<!--                                    <li><a href="#">Prev</a></li>-->
<!--                                    <li><a href="#">1</a></li>-->
<!--                                    <li><a href="#">2</a></li>-->
<!--                                    <li><a href="#">3</a></li>-->
<!--                                    <li><a href="#">4</a></li>-->
<!--                                    <li><a href="#">Next</a></li>-->
<!--                                </ul>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
                </div>
            </div>
        </div>

     {% endblock %}