<head>
    <title> CrowdFUNding | 크라우드 펀딩</title>
</head>
{% extends 'crowdfunding/base.html' %}
{% load staticfiles %}


    {% block content %}

        <div class="page-head">
            <div class="container">
                <div class="row">
                    <div class="page-head-content">
                        <h1 class="page-title">Hello : <span class="orange strong"><b>{{ user.get_user_name }}</b></span></h1>
                    </div>
                </div>
            </div>
        </div>
        <!-- End page header -->

        <!-- property area -->
        <div class="content-area user-profile" style="background-color: #FCFCFC;">&nbsp;
            <div class="container">
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1 profiel-container">

                            <div class="profiel-header">
                                <h3> 프로필 수정 / 조회<br> </h3>
                                     <h5 style="text-align: center "><small>당신의 회원 정보를 작성해주세요!</small> </h5>
                                <hr>
                            </div>

                            <div class="clear">
                                <div class="col-sm-3 col-sm-offset-1">
                                    <div class="picture-container">
                                        <div class="picture">
                                            <img src="assets/img/avatar.png" class="picture-src" id="wizardPicturePreview" title=""/>
                                            <input type="file" id="wizard-picture">
                                        </div>
                                        <h6>Choose Picture</h6>
                                    </div>
                                </div>
                                <div class="col-sm-3 padding-top-25">
                                  <form action="" method="post">
                                    {% csrf_token %}
                                      {{form.as_p}}
                                      <b>보유 코인 : </b><br>
                                      {{user_self.usercoin}}
                                        <div class="text-center">
                                            <button type="submit" class="btn btn"> 수정 </button>
                                            <button type="button" onclick="location.href='/charge'" class="btn btn-default"> 코인 충전 </button>
                                        </div>
                                  </form>
                                </div>
                            </div>

                    </div>
                </div>
            </div>
        </div>


     {% endblock %}